.App {
  font-family: Georgia, serif;
  color: rgb(18, 18, 169);
  padding: 30px 30px;
  border-radius: 10px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251, 0.8) 0%,
    rgb(232, 233, 251, 0.8) 25.8%,
    rgb(252, 239, 250, 0.8) 50.8%,
    rgb(234, 251, 251, 0.8) 77.6%,
    rgb(240, 251, 244, 0.8) 100.7%
  );
  box-shadow: 5px 5px 15px #d9edfd;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px 40px 20px 40px;
}
