h1 {
  color: #b241c1;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  font-weight: 700;
  padding-top: 30px;
}

h5 {
  text-align: center;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
  line-height: 30px;
}
form {
  display: block;
  padding-left: 10%;
  padding-right: 10%;
}
.cityInput {
  width: 70%;
  margin-right: 3%;
}
.searchButton {
  margin-right: 5%;
}

.column-3 {
  line-height: 40px;
}
.temperature {
  font-size: 100px;
  font-weight: 800;
  color: rgb(178, 65, 193);
  padding-top: 5%;
}

.mainIcon {
  width: 130px;
  height: 130px;
  position: relative;
  top: -20px;
  left: 0;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}

.description {
  font-size: 18px;
  position: relative;
  top: -30px;
}

.unit {
  position: relative;
  top: -40px;
  font-size: 20px;
}

@media (max-width: 750px) {
  .column-3 {
    line-height: normal;
    text-align: center;
    padding-bottom: 20px;
  }
  .column-3 li {
    display: inline-block;
    margin-right: 5%;
  }
  .column-1 img {
    width: 50%;
    height: 50%;
  }
  .column-2 {
    padding-bottom: 10px;
  }
  .description {
    top: -40px;
  }
}
